/node_modules/
/.idea/codeStyles/codeStyleConfig.xml
/node_modules/vue-hot-reload-api
/node_modules/vue-i18n
/node_modules/vue-loader
/node_modules/vue-multiselect
/node_modules/vue-router
/node_modules/vue-script2
/node_modules/vue-splitpane
/node_modules/vue-style-loader
/node_modules/vue-template-compiler
/node_modules/vue-template-es2015-compiler
/node_modules/vuex
/node_modules/v-viewer
/node_modules/watchpack-chokidar2
/node_modules/prettier
/node_modules/stylus
/node_modules/uglifyjs-webpack-plugin
/node_modules/ultron
/node_modules/unc-path-regex
/node_modules/underscore
/node_modules/unidecode
/node_modules/unidragger
/node_modules/union-value
/node_modules/unipointer
/node_modules/uniq
/node_modules/uniqs
/node_modules/universalify
/node_modules/unpipe
/node_modules/unset-value
/node_modules/upath
/node_modules/upper-case
/node_modules/uri-js
/node_modules/urix
/node_modules/url
/node_modules/url-loader
/node_modules/url-slug
/node_modules/use
/node_modules/util
/node_modules/utila
/node_modules/util-deprecate
/node_modules/utils-merge
/node_modules/uuid
/node_modules/uuid-js
/node_modules/validate-npm-package-license
/node_modules/vary
/node_modules/vendors
/node_modules/verror
/node_modules/viewerjs
/node_modules/vm-browserify
/node_modules/vue
/node_modules/vue-aliyun-captcha
/node_modules/vue-count-to
/node_modules/vuedraggable
/node_modules
node_modules
