$blue:#409EFF;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$--color-primary:  #409EFF;//主题背景色
$barActive:#ffd001;
$menuActive:#e4edff;
//sidebar
$menuBg:#304156;
$subMenuBg:#fff;
$menuHover:#ecf5ff;
